<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- cl_sms表:短信记录模块 -->
<mapper namespace="com.adpanshi.cashloan.cl.mapper.SmsMapper">
    <!--返回Map-->        
    <resultMap id="BaseResultMap" type="com.adpanshi.cashloan.cl.domain.Sms">
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
        <result column="content" property="content" jdbcType="VARCHAR" />
        <result column="resp_time" property="respTime" jdbcType="TIMESTAMP" />
        <result column="resp" property="resp" jdbcType="VARCHAR" />
        <result column="sms_type" property="smsType" jdbcType="VARCHAR" />
        <result column="code" property="code" jdbcType="VARCHAR" />
        <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="VARCHAR" />
        <result column="verify_time" property="verifyTime" jdbcType="INTEGER" />
        <result column="msgid" property="msgid" jdbcType="VARCHAR" />
        <result column="resp_state" property="respState" jdbcType="VARCHAR" />
        <result column="sms_platform" property="smsPlatform" jdbcType="VARCHAR" />
    </resultMap>
    
    <!--基本的sql查询字段 公共引用...-->
    <sql id="Base_Column_List">
        id,phone,send_time,content,resp_time,resp,sms_type,code,order_no,state,verify_time,msgid,resp_state,sms_platform
    </sql>
    
    <!-- 基本的sql查询条件公共引用 -->
    <sql id="searchBy">
        <trim prefix="where" prefixOverrides="and|or">
            <if test=" id !=null and id !=''">
                id  = #{id,jdbcType=INTEGER}
            </if>
            <if test="phone !=null and phone !=''">
                and phone = #{phone,jdbcType=VARCHAR}
            </if>
            <if test="sendTime !=null">
                and DATE_FORMAT(send_time, '%Y-%m-%d')= DATE_FORMAT(#{sendTime,jdbcType=TIMESTAMP}, '%Y-%m-%d')
            </if>
            <if test="content !=null and content !=''">
                and content = #{content,jdbcType=VARCHAR}
            </if>
            <if test="respTime !=null">
                and resp_time = #{respTime,jdbcType=TIMESTAMP}
            </if>
            <if test="resp !=null and resp !=''">
                and resp = #{resp,jdbcType=VARCHAR}
            </if>
            <if test="smsType !=null and smsType !=''">
                and sms_type = #{smsType,jdbcType=VARCHAR}
            </if>
            <if test="code !=null and code !=''">
                and code = #{code,jdbcType=VARCHAR}
            </if>
            <if test="orderNo !=null and orderNo !=''">
                and order_no = #{orderNo,jdbcType=VARCHAR}
            </if>
            <if test="state !=null and state !=''">
                and state = #{state,jdbcType=VARCHAR}
            </if>
            <if test="verifyTime !=null and verifyTime !=''">
                and verify_time = #{verifyTime,jdbcType=INTEGER}
            </if>
            <if test="searchSendTime !=null">
                and DATE_FORMAT(send_time,'%Y-%m-%d')  &gt;= #{searchSendTime,jdbcType=TIMESTAMP}
            </if>
            <if test="msgid != null and msgid != ''">
                and msgid = #{msgid,jdbcType=VARCHAR}
            </if>
            <if test="respState != null and respState != ''">
                and resp_state = #{respState,jdbcType=VARCHAR}
            </if>
            <if test="smsPlatform != null and smsPlatform != ''">
                and sms_platform = #{smsPlatform,jdbcType=VARCHAR}
            </if>
        </trim>
    </sql>
    
    
    <insert id="save" parameterType="com.adpanshi.cashloan.cl.domain.Sms">
        insert into cl_sms(phone,email,send_time,content,resp_time,resp,sms_type,code,order_no,state,verify_time,msgid,sms_platform)values(#{phone,jdbcType=VARCHAR},#{email,jdbcType=VARCHAR},#{sendTime,jdbcType=TIMESTAMP},#{content,jdbcType=VARCHAR},#{respTime,jdbcType=TIMESTAMP},#{resp,jdbcType=VARCHAR},#{smsType,jdbcType=VARCHAR},#{code,jdbcType=VARCHAR},#{orderNo,jdbcType=VARCHAR},#{state,jdbcType=VARCHAR},
        #{verifyTime,jdbcType=INTEGER},#{msgid,jdbcType=VARCHAR},#{smsPlatform,jdbcType=VARCHAR})
    </insert>

    
    <update id="updateSelective"  parameterType="java.util.HashMap">
        update cl_sms
          <set>
            <if test="phone != null and phone != '' ">        
                phone = #{phone,jdbcType=VARCHAR},                
            </if>
            <if test="sendTime !=null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},            
            </if>
            <if test="content != null and content != '' ">        
                content = #{content,jdbcType=VARCHAR},                
            </if>
            <if test="respTime !=null">
                resp_time = #{respTime,jdbcType=TIMESTAMP},            
            </if>
            <if test="resp != null and resp != '' ">        
                resp = #{resp,jdbcType=VARCHAR},                
            </if>
            <if test="smsType != null and smsType != '' ">        
                sms_type = #{smsType,jdbcType=VARCHAR},                
            </if>
            <if test="code != null and code != '' ">        
                code = #{code,jdbcType=VARCHAR},                
            </if>
            <if test="orderNo != null and orderNo != '' ">        
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="state !=null and state !=''">
                state = #{state,jdbcType=VARCHAR},
            </if>
            <if test="verifyTime !=null and verifyTime !=''">
                verify_time = #{verifyTime,jdbcType=INTEGER},
            </if>
            <if test="msgid != null and msgid != ''">
                msgid = #{msgid,jdbcType=VARCHAR},
            </if>
            <if test="respState != null and respState != ''">
                 resp_state = #{respState,jdbcType=VARCHAR}
            </if>
            <if test="smsPlatform != null and smsPlatform != ''">
                sms_platform = #{smsPlatform,jdbcType=VARCHAR}
            </if>
        </set>    
        where id = #{id ,jdbcType=INTEGER}
    </update>


    <select id="findByPrimary" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List" />
        from cl_sms
        where id = #{id,jdbcType=INTEGER}
    </select>

	<select id="findSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_sms
        <include refid="searchBy"/>
    </select>
               
    <select id="listSelective" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_sms
        <include refid="searchBy"/>
    </select>
    
    <!-- 查询最新的一条 -->
    <select id="findTimeMsg" resultMap="BaseResultMap" parameterType="java.util.HashMap">
        select
        <include refid="Base_Column_List" />
        from cl_sms
        WHERE sms_type = #{smsType, jdbcType = VARCHAR}
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="email != null and email != ''">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        <if test="msgid != null and msgid != ''">
            and msgid = #{msgid,jdbcType=VARCHAR}
        </if>
        order by send_time desc limit 1
    </select>
    
    <!-- 查询某号码某种类型当天已发送次数 -->
    <select id="countDayTime" resultType="java.lang.Integer" parameterType="java.util.HashMap">
        select count(1) 
        from cl_sms
        WHERE sms_type = #{smsType, jdbcType = VARCHAR}
        <if test="phone != null and phone != ''">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="email != null and email != ''">
            and email = #{email,jdbcType=VARCHAR}
        </if>
        AND DATE_FORMAT(send_time, '%Y-%m-%d') = DATE_FORMAT(NOW(), '%Y-%m-%d') 
    </select>

    <update id="updateByMsgid" parameterType="java.util.HashMap">
        update cl_sms
        set resp_time = #{respTime,jdbcType=TIMESTAMP},resp_state = #{respState,jdbcType=VARCHAR},
        resp = #{resp,jdbcType=VARCHAR}
        where msgid = #{msgid,jdbcType=VARCHAR}
    </update>

    <select id="findResendList" parameterType="java.util.HashMap" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>
        from cl_sms
        where phone is not null
        and  send_time  &gt;= #{startTime,jdbcType=TIMESTAMP} AND send_time &lt;=#{endTime,jdbcType=TIMESTAMP}
        <if test="state != null and state != ''">
            and resp_state = #{state,jdbcType=VARCHAR}
        </if>

    </select>


    <update id="updateByIds"  parameterType="java.util.HashMap">
        update cl_sms
        <set>
            <if test="resp != null and resp != '' ">
                resp = #{resp,jdbcType=VARCHAR},
            </if>
            <if test="respState != null and respState != '' ">
                resp_state = #{respState,jdbcType=VARCHAR},
            </if>
            <if test="respTime != null">
              resp_time = #{respTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id IN
        <foreach item="item" index="index" collection="ids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>

    <update id="updateByMsgids"  parameterType="java.util.HashMap">
        update cl_sms
        <set>
            <if test="resp != null and resp != '' ">
                resp = #{resp,jdbcType=VARCHAR},
            </if>
            <if test="respState != null and respState != '' ">
                resp_state = #{respState,jdbcType=VARCHAR},
            </if>
            <if test="respTime != null">
                resp_time = #{respTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where msgid IN
        <foreach item="item" index="index" collection="msgids" open="(" separator="," close=")">
            #{item}
        </foreach>
    </update>
    
</mapper>
