<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.adpanshi.cashloan.com.adpanshi.cashloan.api.com.adpanshi.cashloan.api.rule.mapper.XinyanBlacklistMapper">
	<resultMap type="com.adpanshi.cashloan.api.com.adpanshi.cashloan.api.rule.domain.XinyanBlacklist" id="BaseResultMap">
        <result property="id" column="id" javaType="Long"/>
        <result property="idNo" column="id_no" javaType="String"/>
        <result property="idName" column="id_name" javaType="String"/>
        <result property="type" column="type" javaType="Integer"/>
        <result property="transId" column="trans_id" javaType="String"/>
        <result property="tradeNo" column="trade_no" javaType="String"/>
        <result property="descs" column="descs" javaType="String"/>
        <result property="maxOverdueDays" column="max_overdue_days" javaType="String"/>
        <result property="latestOverdueTime" column="latest_overdue_time" javaType="String"/>
        <result property="maxOverdueAmt" column="max_overdue_amt" javaType="String"/>
        <result property="currentlyOverdue" column="currently_overdue" javaType="String"/>
        <result property="currentlyPerformance" column="currently_performance" javaType="String"/>
        <result property="accExc" column="acc_exc" javaType="String"/>
        <result property="accSleep" column="acc_sleep" javaType="String"/>
        <result property="updateTime" column="update_time" javaType="Date"/>
        <result property="createTime" column="create_time" javaType="Date"/>
        <result property="state" column="state" javaType="Integer"/>
	</resultMap>
	
	<sql id="Base_Column_List" >
        t.id,
        t.id_no,
        t.id_name,
        t.type,
        t.trans_id,
        t.trade_no,
        t.descs,
        t.max_overdue_days,
        t.latest_overdue_time,
        t.max_overdue_amt,
        t.currently_overdue,
        t.currently_performance,
        t.acc_exc,
        t.acc_sleep,
        t.update_time,
        t.create_time,
        t.state
	</sql>
	
	<!-- 查询条件 -->
	<sql id="searchBy">
		 <if test="null != id and id !=''">
            AND t.id = #{id}
         </if>
		 <if test="null != idNo and idNo !=''">
            AND t.id_no = #{idNo}
         </if>
		 <if test="null != idName and idName !=''">
            AND t.id_name = #{idName}
         </if>
		 <if test="null != type and type!=''">
            AND t.type = #{type}
         </if>
		 <if test="null != transId and transId !=''">
            AND t.trans_id = #{transId}
         </if>
		 <if test="null != tradeNo and tradeNo !=''">
            AND t.trade_no = #{tradeNo}
         </if>
		 <if test="null != descs and descs !=''">
            AND t.descs = #{descs}
         </if>
		 <if test="null != maxOverdueDays and maxOverdueDays !=''">
            AND t.max_overdue_days = #{maxOverdueDays}
         </if>
		 <if test="null != latestOverdueTime and latestOverdueTime !=''">
            AND t.latest_overdue_time = #{latestOverdueTime}
         </if>
		 <if test="null != maxOverdueAmt and maxOverdueAmt !=''">
            AND t.max_overdue_amt = #{maxOverdueAmt}
         </if>
		 <if test="null != currentlyOverdue and currentlyOverdue !=''">
            AND t.currently_overdue = #{currentlyOverdue}
         </if>
		 <if test="null != currentlyPerformance and currentlyPerformance !=''">
            AND t.currently_performance = #{currentlyPerformance}
         </if>
		 <if test="null != accExc and accExc !=''">
            AND t.acc_exc = #{accExc}
         </if>
		 <if test="null != accSleep and accSleep !=''">
            AND t.acc_sleep = #{accSleep}
         </if>
		 <if test="null != updateTime and updateTime !=''">
            AND t.update_time = #{updateTime}
         </if>
		 <if test="null != createTime and createTime !=''">
            AND t.create_time = #{createTime}
         </if>
		 <if test="null != state and state !=''">
            AND t.state = #{state}
         </if>
	</sql>

	<insert id="save" parameterType="com.adpanshi.cashloan.api.com.adpanshi.cashloan.api.rule.domain.XinyanBlacklist" >
		<![CDATA[
	        INSERT INTO cl_xinyan_blacklist (
	            id_no ,
	            id_name ,
	            type ,
	            trans_id ,
	            trade_no ,
	            descs ,
	            max_overdue_days ,
	            latest_overdue_time ,
	            max_overdue_amt ,
	            currently_overdue ,
	            currently_performance ,
	            acc_exc ,
	            acc_sleep ,
	            update_time ,
	            create_time ,
	            state 
	        ) VALUES (
	        	#{idNo},
	        	#{idName},
	        	1,
	        	#{transId},
	        	#{tradeNo},
	        	#{descs},
	        	#{maxOverdueDays},
	        	#{latestOverdueTime},
	        	#{maxOverdueAmt},
	        	#{currentlyOverdue},
	        	#{currentlyPerformance},
	        	#{accExc},
	        	#{accSleep},
	        	now(),
	        	now(),
	        	#{state}
	        )
	    ]]>
    	<selectKey resultType="java.lang.Long" keyProperty="id">
			SELECT LAST_INSERT_ID() AS id
        </selectKey>
	</insert>
	
	<update id="updateSelective" parameterType="com.adpanshi.cashloan.api.com.adpanshi.cashloan.api.rule.domain.XinyanBlacklist">
        UPDATE cl_xinyan_blacklist 
        <set>
        	 <if test="null != idNo and idNo !=''">
	            id_no = #{idNo},
	         </if>
			 <if test="null != idName and idName !=''">
	             id_name = #{idName},
	         </if>
			 <if test="null != type and type!=''">
	             type = #{type},
	         </if>
			 <if test="null != transId and transId !=''">
	             trans_id = #{transId},
	         </if>
			 <if test="null != tradeNo and tradeNo !=''">
	             trade_no = #{tradeNo},
	         </if>
			 <if test="null != descs and descs !=''">
	             descs = #{descs},
	         </if>
			 <if test="null != maxOverdueDays and maxOverdueDays !=''">
	             max_overdue_days = #{maxOverdueDays},
	         </if>
			 <if test="null != latestOverdueTime and latestOverdueTime !=''">
	             latest_overdue_time = #{latestOverdueTime},
	         </if>
			 <if test="null != maxOverdueAmt and maxOverdueAmt !=''">
	             max_overdue_amt = #{maxOverdueAmt},
	         </if>
			 <if test="null != currentlyOverdue and currentlyOverdue !=''">
	             currently_overdue = #{currentlyOverdue},
	         </if>
			 <if test="null != currentlyPerformance and currentlyPerformance !=''">
	             currently_performance = #{currentlyPerformance},
	         </if>
			 <if test="null != accExc and accExc !=''">
	             acc_exc = #{accExc},
	         </if>
			 <if test="null != accSleep and accSleep !=''">
	             acc_sleep = #{accSleep},
	         </if>
			 <if test="null != state and state !=''">
	             state = #{state},
	         </if>
	         update_time = #{updateTime},
        </set>
        WHERE  id = #{id}
	</update>
	
	<select id="findByPrimary" parameterType="java.lang.Long" resultMap="BaseResultMap">
	   	SELECT <include refid="Base_Column_List" />
       	<![CDATA[
       	FROM cl_xinyan_blacklist t
       	WHERE t.id = #{value}
		]]>
    </select>
    
    <!-- 根据给定idNo查找最近一条记录 -->
    <select id="getXinyanBlacklistByLasterIdNo" parameterType="java.lang.String" resultMap="BaseResultMap">
	   	SELECT <include refid="Base_Column_List" />
       	FROM cl_xinyan_blacklist t
       	WHERE t.id_no = #{value}
       	ORDER BY t.update_time DESC LIMIT 1
    </select>
	
	<select id="queryCount" parameterType="map" resultType="java.lang.Integer">
		select count(t.id) FROM cl_xinyan_blacklist t
        <where> <include refid="searchBy"/>  </where>
	</select>
</mapper>
